# Python
venv/
__pycache__/
*.pyc

# Environment files
.env

# Uploads
backend/uploads/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# VS Code / Cursor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db